/* Collection Setup Container styles */
.collection-setup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collection-setup-container input[type="file"] {
  margin: 10px 0;
}

.collection-setup-container input[type="number"] {
  margin: 10px 0;
}

.collection-setup-container button {
  margin-top: 20px;
}

.collection-setup-container .input-field {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.collection-setup-container label {
  margin-right: 10px;
}