.name-generator-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center elements horizontally */
  justify-content: flex-start; /* Align elements to the top */
  min-height: 100vh; /* Ensure it covers the full viewport height */
  text-align: center; /* Center text inside the container */
  padding-top: 80px; /* Add padding to create space below the navbar */
}

.gen-centered-input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px; /* Add margin for spacing */
}

.gen-centered-input label {
  margin-right: 10px; /* Space between label and input */
}

.gen-centered-input input[type="number"],
.gen-centered-input input[type="file"],
.gen-centered-input select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: black;
  background-color: white;
  font-family: "Caveat", cursive; /* Set a default fun font for the body */
}

.gen-styled-button {
  background-color: #cceeff; /* Light blue background */
  color: black; /* Black text color */
  border: 1px solid #ccc; /* Light border */
  padding: 10px 20px; /* Padding for button size */
  border-radius: 5px; /* Rounded corners */
  font-size: 1em; /* Font size */
  cursor: pointer; /* Pointer cursor on hover */
  text-transform: uppercase; /* Uppercase text */
  font-weight: bold; /* Bold text */
  transition: background-color 0.3s, transform 0.3s; /* Smooth transitions */
  margin-top: 20px; /* Add margin above the button */
}

.gen-styled-button:hover {
  background-color: #1e90ff; /* Change background on hover */
  transform: scale(1.05); /* Slight scale up on hover */
}

.gen-styled-button:active {
  background-color: #0056b3; /* Darker background when active */
  transform: scale(0.95); /* Slight scale down when active */
}

.gen-custom-input {
  background-color: white !important; /* Ensures background is white */
  color: black !important;           /* Ensures text color is black */
  border: 1px solid var(--text-color); /* Use text color for input borders in dark mode */
  border-radius: 4px;                /* Rounded corners */
  padding: 8px;                      /* Padding inside the field */
  font-size: 1em;                    /* Font size */
  font-family: "Caveat", cursive; /* Set a default fun font for the body */
}
