.centered-input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px; /* Add margin for spacing */
}

.centered-input label {
  margin-right: 10px; /* Space between label and input */
}

.centered-input input[type="number"],
.centered-input input[type="file"],
.centered-input select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: black;
  background-color: white;
  font-family: 'Caveat', cursive; /* Set a default fun font for the body */
}
