.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.landing-page h1 {
  margin-bottom: 20px;
}

.landing-page button {
  margin-bottom: 10px;
  padding: 10px;
  width: 300px;
  font-size: 1em;
  background-color: #cceeff; /* Light blue background */
  color: black; /* Black text color */
  border: 1px solid #ccc; /* Light border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  text-transform: uppercase; /* Uppercase text */
  font-weight: bold; /* Bold text */
  transition: background-color 0.3s, transform 0.3s; /* Smooth transitions */
}

.landing-page button:hover {
  background-color: #1e90ff; /* Change background on hover */
  transform: scale(1.05); /* Slight scale up on hover */
}

.landing-page button:active {
  background-color: #0056b3; /* Darker background when active */
  transform: scale(0.95); /* Slight scale down when active */
}

@media (max-width: 768px) {
  .landing-page h1 {
    font-size: 1.5em;
  }

  .landing-page button {
    font-size: 0.9em;
    padding: 8px;
  }
}
