.my-account-container {
  padding: 20px;
  margin: 0 auto;
}

.my-account-heading {
  font-size: 1.5em;
}

@media (min-width: 768px) {
  .my-account-heading {
    font-size: 2em;
  }

  .my-account-info {
    font-size: 1.1em;
  }
}

.my-account-info {
  margin: 10px 0;
}

.my-account-info strong {
  font-weight: bold;
}
