.settings-container {
  padding: 20px;
}

.settings-label {
  margin-right: 10px;
  font-weight: bold;
}

.color-options {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.color-option {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
  transition: border 0.3s;
  background-color: var(--color);
}

/* Adding the background color using the data-color attribute */
.color-option[data-color] {
  background-color: attr(data-color color);
}

.color-option.selected {
  border: 2px solid #000;
}

.hamburger-menu {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
}

.hamburger-menu .bar {
  height: 3px;
  background-color: #333;
  transition: 0.3s;
}