/* Adjust the collections navbar to align with the sidebar */
.collections-navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: calc(100% - 250px); /* Full width minus sidebar width */
  left: 250px; /* Align with the sidebar */
  box-sizing: border-box;
  position: fixed;
  top: 60px; /* Positioned below the main navbar */
  z-index: 999; /* Keep it high enough, but below modals */
}

/* Category button styles */
.category-button {
  background-color: #ffffff;
  border: 2px solid #007bff;
  color: #007bff;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 5px;
  flex-grow: 1;
  text-align: center;
  min-width: 120px;
}

.category-button:hover {
  background-color: #007bff;
  color: #ffffff;
  transform: scale(1.05);
}

.category-button:active {
  background-color: #0056b3;
  transform: scale(0.95);
}

.category-button.active {
  background-color: #007bff;
  color: #ffffff;
  border-color: #0056b3;
}

/* Adjust for smaller screens */
@media (max-width: 767px) {
  .category-button {
    flex-basis: calc(50% - 10px);
    font-size: 0.8em;
    padding: 6px 10px;
  }
}

/* Adjust for medium screens */
@media (min-width: 768px) and (max-width: 1023px) {
  .category-button {
    flex-basis: calc(33.33% - 10px);
  }
}

/* Adjust for larger screens */
@media (min-width: 1024px) {
  .collections-navbar {
    padding: 15px;
  }

  .category-button {
    flex-basis: auto;
    font-size: 1em;
    padding: 10px 20px;
  }
}
