/* Collections navbar styles */
.collections-navbar {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
  justify-content: center; /* Center the buttons */
  width: 100%; /* Full width to align with main content */
  box-sizing: border-box; /* Include padding in width calculation */
  margin: -30px; /* Ensure no margins are affecting the layout */
  margin-bottom: 0;
}

/* Category button styles */
.category-button {
  background-color: #ffffff; /* White background */
  border: 2px solid #007bff; /* Blue border */
  color: #007bff; /* Blue text color */
  padding: 10px 20px; /* Padding for size */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 1em; /* Font size */
  font-weight: bold; /* Bold text */
  transition: background-color 0.3s, color 0.3s, transform 0.3s; /* Smooth transitions */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
  margin: 5px; /* Add margin all around */
  flex-grow: 1; /* Allow buttons to grow and fill the available space */
  text-align: center; /* Center the text */
  flex: 1 1 auto; /* Allow buttons to grow and shrink */
  min-width: 120px; /* Set a minimum width */
}

.category-button:hover {
  background-color: #007bff; /* Blue background on hover */
  color: #ffffff; /* White text on hover */
  transform: scale(1.05); /* Slight scale up on hover */
}

.category-button:active {
  background-color: #0056b3; /* Darker blue when active */
  transform: scale(0.95); /* Slight scale down when active */
}

.category-button.active {
  background-color: #007bff; /* Active state background */
  color: #ffffff; /* Active state text color */
  border-color: #0056b3; /* Active state border color */
}

@media (max-width: 768px) {
  .category-button {
    flex-basis: calc(50% - 10px); /* Two buttons per row on smaller screens */
  }
}
