.math-collection-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px); /* Subtract navbar height */
  width: 100vw;
  padding: 0;
  position: relative;
  margin-top: 50px; /* Add top margin equal to navbar height */
  transition: background-color 0.3s, color 0.3s;
  overflow: hidden;
  margin: 0;
  color: var(--display-text-color, var(--text-color));
  background-color: var(--background-color);
}

.math-problem {
  font-size: 20vw; /* Adjust this value to make the text larger or smaller */
  line-height: 1;
  text-align: center;
  margin: 0;
  padding: 0;
  color: inherit;
}

.math-answer {
  font-size: 15vw; /* Slightly smaller than the problem */
  line-height: 1;
  text-align: center;
  margin: 20px 0 0 0;
  padding: 0;
  color: inherit;
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  font-size: 50px;
  color: white;
  cursor: pointer;
  z-index: 10;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.nav-button.left {
  left: 10px;
}

.nav-button.right {
  right: 10px;
}

.nav-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
