@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Chewy&family=Comic+Neue:wght@400;700&family=Patrick+Hand&family=Baloo+2:wght@400;700&display=swap");

/* Style the body */
body {
  font-family: "Caveat", cursive;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1, h2, h3, p, button {
  color: inherit; /* Use the color from the theme */
}

h1, h2, h3 {
  font-family: "Chewy", cursive;
}

p, button {
  font-family: "Patrick Hand", cursive;
}

h1 {
  font-size: 3em;
  margin: 0;
}

textarea,
input,
button {
  display: block;
  margin: 10px 0;
}

ul {
  list-style-type: none; /* Removes bullet points */
  padding: 0;
}

li {
  padding: 5px 0; /* Adds vertical spacing between items */
  font-size: 1.2em; /* Larger text for better readability */
}

body, .your-collections, .control-panel, .collections-list, .collection-item {
  color: var(--text-color);
}

h1, p, label, button {
  color: var(--text-color);  /* Ensure text elements use the theme's text color */
}

input {
  color: var(--text-color);  /* Ensure input text uses the theme's text color */
  background-color: var(--background-color);
}

.app-container {
  padding-top: 50px;
}

.main-content {
  flex: 1;
  padding: 0;
  overflow-x: hidden;
}

.button, .styled-button, .start-session-button, .cancel-button {
  background-color: var(--color);
  color: var(--text-color);
}

/* Define classes for different text colors */
.text-color {
  color: var(--text-color);
}
