/* Ensure full viewport height for the root element */
html, body {
  height: 100%;
  width: 100%;
}

/* Style the body */
body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

/* Ensure the #root element covers the full viewport */
#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Container for the entire app */
.app-container {
  min-height: 100vh;
  width: 100vw;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for theme changes */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Additional global styles */
h1 {
  font-size: 3em;
  margin: 0;
}

textarea, input, button {
  display: block;
  margin: 10px 0;
}

/* Theme styles */
.light-theme {
  background-color: #fff;
  color: #000;
}

.dark-theme {
  background-color: #333;
  color: #fff;
}

.blue-theme {
  background-color: #cceeff;
  color: #003366;
}

.theme-selector {
  margin: 10px 0;
}

#theme-select {
  padding: 5px;
  margin-left: 10px;
}

/* Fullscreen display styles */
.fullscreen-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.fullscreen-container h1 {
  font-size: 10vw; /* Adjust as needed to make the character large */
  text-align: center;
  margin: 0;
}

.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px 20px;
  background-color: #ff6666;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.neon-pink-theme {
  background-color: #ff69b4;
  color: #fff;
}

.neon-green-theme {
  background-color: #39ff14;
  color: #000;
}

.neon-blue-theme {
  background-color: #1e90ff;
  color: #fff;
}

.neon-orange-theme {
  background-color: #ff4500;
  color: #fff;
}

.red-theme {
  background-color: #ff0000;
  color: #fff;
}

.orange-theme {
  background-color: #ffa500;
  color: #000;
}

.yellow-theme {
  background-color: #ffff00;
  color: #000;
}

.green-theme {
  background-color: #008000;
  color: #fff;
}

.blue-theme-color {
  background-color: #0000ff;
  color: #fff;
}

.indigo-theme {
  background-color: #4b0082;
  color: #fff;
}

.violet-theme {
  background-color: #ee82ee;
  color: #000;
}
