@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Chewy&family=Comic+Neue:wght@400;700&family=Patrick+Hand&family=Baloo+2:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-caveat bg-theme-bg text-theme-text;
    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  h1,
  h2,
  h3 {
    @apply font-chewy;
  }

  p,
  button {
    @apply font-patrick-hand;
  }

  h1 {
    @apply m-0 text-3xl;
  }

  ul {
    @apply list-none p-0;
  }

  li {
    @apply py-1 text-lg;
  }

  input {
    @apply text-theme-text bg-theme-bg;
  }
}

@layer components {
  .button,
  .styled-button,
  .start-session-button,
  .cancel-button {
    @apply bg-theme-bg text-theme-text;
  }
}
