.edit-item-list {
  width: 100%;
}

.edit-item-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%; /* Ensure it spans the full width of the container */
}

.edit-item-input-group {
  flex-grow: 1;
  margin-right: 10px; /* Space between the input and the remove button */
}

.edit-item-input {
  width: 100%;
}

.edit-add-button {
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 1.5em;
  padding: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin-top: 10px; /* Adjust margin as needed for spacing */
}

.edit-add-button:hover {
  background-color: #4cae4c;
}

.edit-save-button {
  background-color: #0275d8;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.edit-save-button:hover {
  background-color: #025aa5;
}

.edit-modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 20px;
}

.edit-modal-container {
  background: #2a2a2a;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 700px;
  color: #f2f2f2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  max-height: 90vh;
}

.edit-modal-container h1 {
  color: #f2f2f2;
  margin-bottom: 20px;
}

.edit-item-container .edit-remove-button {
  background-color: #d9534f;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0; /* Remove extra padding */
  width: 40px; /* Set a fixed width */
  height: 40px; /* Set height to match the input field */
  display: flex;
  align-items: center; /* Center icon vertically */
  justify-content: center; /* Center icon horizontally */
  cursor: pointer;
}

.edit-item-container .edit-remove-button:hover {
  background-color: #c9302c;
}

.edit-remove-icon {
  font-size: 1.2em;
  line-height: 1; /* Ensure the icon doesn't add extra space */
}

.edit-button-group {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.edit-cancel-button {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.edit-cancel-button:hover {
  background-color: #c9302c;
}

.edit-custom-input {
  background-color: white !important;
  color: black !important;
  border: 1px solid var(--text-color);
  border-radius: 4px;
  padding: 8px;
  font-size: 1em;
  font-family: "Caveat", cursive;
}
